<div id="divSubscriber"></div>
<div id="divPublisher" style="margin: 0 auto;"></div>

<style>
	#divSubscriber > div {
		margin: 0 auto;
	}

	#divPublisher > div > div > video, #divPublisher > div > div {
		border-radius: 50% !important;
	}

	#divPublisher > div {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		top: 500px;
		left: 74%;
	}
</style>